body{
    background-color: #D6D2B0;
    width: 80vw;
    padding-left: 10vw;
}


.helloLocation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    }   

.helloText{
    font-family: "Jua", serif;
    font-size: 13rem;
    color: #242302;
    /* border-bottom: 1rem solid #242302; */
}


.underline{
    width: 60%;
    height: 15px;
    background-color: #242302;
}

.feedsTextLocation{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.feedsText{
    font-family: "Jua", serif;
    color: #242302;
    padding-top: 10vh;
    font-size: 3rem;
    text-align: center;
    width: 80%;
}

.brandLocation{
    width: 100%;
    display: flex;
    padding-top: 10vh;
    justify-content: space-between;
    
}

.logo{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}   


.logoText{
    font-family: "Jua", serif;
    color: #242302;
    font-size: 5rem;
}

.logoPic{
    height: 15vh;
    padding-top: 10vh;
}

.brandUnderline{
    width: 100%;
    height: 8px;
    background-color: #242302;
}

.color{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.colorText{
    font-family: "Jua", serif;
    color: #242302;
    font-size: 5rem;
}

.colorPalet{
    height: 15vh;
    width: 100%;
    margin-top: 10vh;
    /* background-color: #FAF9F3; */
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorLocation{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.color1{
    height: 100%;
    width: 8vw;
    background-color: #3B6331;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 5px 10px black;
}

.color2{
    height: 100%;
    width: 8vw;
    background-color: #242302;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 5px 10px black;
}

.color3{
    height: 100%;
    width: 8vw;
    background-color: #D6D2B0;
    border-radius: 30px;
    border: 3px solid black;
    box-shadow: 5px 10px black;
}


.feedsPageLocation{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.FeedsHome{
    height: auto;
    width: 60vw;
    padding-top: 20vh;
    padding-bottom: 10vh;
}