body{
    background-color: #D6D2B0;
}


.helloLocation{
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    }   

.helloText{
    font-family: "Jua", serif;
    font-size: 20rem;
    color: #242302;
}