@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');
@font-face {
    font-family: Ruthie;
    src: url(/assets/Ruthie-Regular.ttf);
}

body {
    font-family: "Hind Siliguri", sans-serif;
    background-color: black;
    margin: 0;
    height: auto;
    overflow-x: hidden;
}

.page {
    height: 100vh;
    display: flex;
}

#line {
    position: absolute;
    top:0;
    z-index: -1;
}

#squiggle {
    fill: none;  
    stroke: #c3ebed;
    stroke-width: 15;
}


.iconContainer {
    position: fixed;
    bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 3;
}

.icon {
    margin: 0 10px; /* Adjust spacing between icons */
    width: 2vw; /* Adjust icon size */
    height: 2vw; /* Ensure the container has a consistent height */
    background-color: transparent;
    border: 0.5vw solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%; /* Optional: Add this for circular borders */
    transition: transform 0.3s ease; /* Smooth transition for the scale effect */
}

.icon:hover {
    transform: scale(1.25); /* Scale up the icon by 1.5 times */
    background-color: #c3ebed;
    border: 0.5vw solid #c3ebed;
}

.icon img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}



.menuLocation{
  
}


.menuBar{
  position: fixed;
  width: 100%;
  height: auto;
  background-color: grey;
}


.fa-bars{
  color: white;
  text-align: end;
  font-size: 3rem;
}




/* hamburger bellow-------------------------------------  */
/* .hamburgerContainer:before, .hamburgerContainer:after {
  box-sizing: inherit;
}

.hamburgerContainer{ 
  background:#79d0d5;
  font-size:16px;
  font-family:sans-serif;
  line-height:25px;
  color:#555;
  margin:0;
  box-sizing: inherit;
  box-sizing: border-box;
}

.hamburger div {
    -webkit-transition:all .08s ease-out;  
    -moz-transition:all .08s ease-out;  
    -o-transition:all .08s ease-out;  
    transition:all .08s ease-out;
}

.hamburger div, .hamburger, nav, .burger-wrap {
    -webkit-transition:all .15s ease;  
    -moz-transition:all .15s ease;  
    -o-transition:all .15s ease;  
    transition:all .15s ease;
}

.burger-wrap {
  position:fixed;
  top:0;
  bottom:0;
  right:0;
  width:70px;
  background:#79d0d5;
  cursor:pointer;
  z-index:50;
}

.hamburger {
  position:absolute;
  top:15px;
  right:8px;
  width:50px;
}

.hamburger span {
  position:absolute;
  top:35px;
  color:#222;
  font-size:0.85em;
}

.hamburger div {
  position:absolute;
  height:4px;
  width:40px;
  background:#222;
}

.burger1 {
  top:5px;
}

.burger2 {
  top:16px;
}

.burger3 {
  top:27px;
}

.burger-wrap:hover {
  background:#79d0d5;
  width:73px;
}

.burger-wrap:hover .hamburger {
  right:15px;
}

.burger-wrap:hover .hamburger span {
  margin-right:6px;
}

.burger-wrap:hover .burger1 {
  transform:rotate(-215deg);
  width:30px;
  right:20px;
  top:8px;
}

.burger-wrap:hover .burger2 {
  right:3px;
  width:40px;
}

.burger-wrap:hover .burger3 {
  transform:rotate(215deg);
  width:30px;
  right:20px;
  top:24px;
}

.nav-open nav {
  right:0; 
}

nav {
  position:fixed;
  padding:1em;
  right:-100%;
  background:#c3ebed;
  color:#fff;
  width:150px;
  top:0;
  bottom:0;
  box-shadow:0 0 0 20px rgba(0,0,0,0.05);
  z-index:60;
}

nav ul {
  margin:0;
  padding:0;
  list-style:none;
}

.hamburger div, .hamburger, nav, .main, .burger-wrap, .menu-cover {
  -webkit-transition:all .15s ease;  -moz-transition:all .15s ease;  -o-transition:all .15s ease;  transition:all .15s ease;
}
.menu-cover {
  position:fixed;
  left:0;
  top:0;
  right:0;
  background:rgba(0, 0, 0, 0.4);
  bottom:auto;
  z-index:10;
  cursor:pointer;
}

.nav-open .menu-cover {
  bottom:0;
}

.menuItem{
  font-size: 1.5rem;
  padding-top: 1rem;
  transition: ease 1;
}

.menuItem:hover{
  cursor: pointer;
}


a {
  text-decoration: none;
  color: black;
  font-weight: bold;
} */
