.projectPage{
    height: 100vh;
    display: flex;
}

h1, p, i{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.project{
    color: white;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-content: center;
    z-index: 3;
}


h1{
    background: linear-gradient(to right, #FCD195 10%,  #dd8d40 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    font-size: 2vh;
}

i{
    font-size: 4rem;
    padding: 1rem;
    margin: auto;
    color: #dd8d40;
}
.gridContainer{
    max-width: 70vw;
    margin: 1rem;
    display: grid;
    grid-auto-columns: 1fr;
    gap: 0.5rem;
    grid-template-areas: 
        "box1  box2  box3  box4  box4  box5  box5"
        "box6  box6  box7  box7  box7  box8  box9"
        "box10 box11 box7  box7  box7  box8  box9"
        "box12 box12 box13 box13 box13 box14 box14"
        ;

}

.grid-item{
    background-color: #444;
    padding: 0.5rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    overflow: hidden;
    transition: all 200ms ease;
}

.grid-item:hover{
    cursor: pointer;
    transform: scale(1.1); /* Scale up the icon by 1.5 times */
    background-color: #555;
    outline: 1px solid #fff;
}

.grid-item-1{
    grid-area: box1;
}
.grid-item-2{
    grid-area: box2;
}
.grid-item-3{
    grid-area: box3;
}
.grid-item-4{
    grid-area: box4;
}
.grid-item-5{
    grid-area: box5;
}
.grid-item-6{
    grid-area: box6;
}
.grid-item-7{
    background-color: #444;
    padding: 0.5rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    overflow: hidden;
    transition: all 200ms ease;
    grid-area: box7;
}
.grid-item-8{
    grid-area: box8;
}
.grid-item-9{
    grid-area: box9;
}
.grid-item-10{
    grid-area: box10;
}
.grid-item-11{
    grid-area: box11;
}
.grid-item-12{
    grid-area: box12;
}
.grid-item-13{
    grid-area: box13;
}
.grid-item-14{
    grid-area: box14;
}

.projectBack{
    background-color: #000;
    width: 100%;
    border-radius: 0.75rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-8 i,
.grid-item-9 i {
    font-size: 4rem;
}

.grid-item-10 h1{
    font-size: 1.5rem;
}
 


.projectsWelcome{
    color: #FFF;
    font-family: Ruthie;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-shadow: 
    0px 0px 67.603px #dd8d40, 
    0px 0px 135.205px #dd8d40, 
    0px 0px 473.218px #dd8d40, 
    0px 0px 946.436px #dd8d40;

}

@media (max-width: 700px) {
    .projectPage{
        height: auto;
    }

    .gridContainer {
        max-width: 90vw;
        grid-template-areas: 
        "box1  box2  box2"
        "box10 box10 box4"
        "box7  box7  box7"
        "box7  box7  box7"
        "box7  box7  box7"
        "box12 box12 box13"
        "box14 box11 box13"
        "box8  box9  box9"
        "box3  box5  box6"
        
    }
    .projectsWelcome{
        font-size: 10vw;
    }
    .grid-item {
        padding: 0.75rem 1rem;   
    }
    .grid-item-7 .projectBack{
        height: 250px;
    }
}