
.resumeContainer{
    position: absolute;
    right: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: 35vw;
    height: 100%;
}


.text{
    color: #FFF;
    font-family: Ruthie;
    top: 5%;
    right: 0;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dd8d40;
    text-shadow:
    0px 0px 67.603px #dd8d40, 
    0px 0px 135.205px #dd8d40, 
    0px 0px 473.218px #dd8d40, 
    0px 0px 946.436px #dd8d40;
;
}


.resume{
    padding: 2vw;
    background-color: #c58543;
    width: 80%;
    height: auto;
    border: 0.5vw solid #9e4d18;
    border-radius: 10%;
    
}


.resume:hover{
    cursor: pointer;
}


.profileText2Container{
    position: absolute;
    left: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 35vw;
    height: 100%;
    margin-left: 3vw;
}


.profileText2{
    font-size: 3vw;
    color: #FFF;
}



