
.pfp2Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100%;
}

.pfp2 {
    height: 40vw;
    width: auto;
    border: .5vw #dd8d40 solid;
    border-radius: 50%;
}

.profileText1Container{
    position: absolute;
    right: 3vw;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 35vw;
    height: 100%;
}

.profileText1{
    font-size: 2.5vw;
    color: #FFF;
}

@media (max-width: 700px) {
    .profileText1Container{
        height: auto;
    }
    .profileText1{
        font-size: 4vw;
    }
    .pfp2 {
        content: url('../assets/headshot3.png');
        height: 40vh;
        border: 1vw #dd8d40 solid;
        border-radius: 0;
    }
    .pfp2Container {
        justify-content: right;
        width: 50vw;
        height: 100%;
    }
    
}
