.welcomePage{
    height: 100vh;
    display: flex;
}

.welcome{
    color: #FFF;
    font-family: Ruthie;
    font-size: 15vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3vw;
    transform: rotate(-11.664deg);
    position: absolute;
    z-index: 6;
    text-shadow: 
    0px 0px 67.603px #dd8d40, 
    0px 0px 135.205px #dd8d40, 
    0px 0px 473.218px #dd8d40, 
    0px 0px 946.436px #dd8d40, 
    0px 0px 1622.462px #dd8d40;

}

.navBar{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    width: 50vw;
    height: auto;
    padding-top: 2vw;
}


.navBar :hover{
    cursor: pointer;
}

.aboutMe, .projects, .experience,  .abilities, .resume{
    font-size: 2vw;
    color: aliceblue;
}

.pfpContainer{
    position: absolute;
    right: 7vw;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 62vw;
    height: 100%;
}

.pfp{
    height: 35vw;
    width: auto;
    border: .5vw #dd8d40 solid;
    border-radius: 50%;
}

.intro {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: left;
}

.myNameIs, .brianLam, .typed {
    display: flex;
    align-items: left;
    justify-content: left;
    /* width: calc(100% - 5vw); */
    padding-left: 5vw;
}

.myNameIs {
    font-size: 2vw;
}

.brianLam {
    font-size: 5vw;
}

/* .fa-bars {
    position: absolute;
    height: auto;
    width: auto;
    right: 0px;
    z-index: -1;
    font-size: 3rem;
    display: none;
} */

@media (max-width: 700px) {
    .welcomePage{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .navBar{
        display: none;
        
    }

    .aboutMe, .projects, .experience,  .abilities, .resume{
        font-size: 4.5vw;
        color: aliceblue;
        padding-bottom: 2vh;
    }

    .welcome{
        padding-top: 8vh;
        position: relative;
        margin-left: 0;
        font-size: 15vw;
        padding-bottom: 2vh;
    }
    .pfp{
        height: 45vw;
        border: 1vw #dd8d40 solid;
    }

    .pfpContainer {
        position: relative;
        height: auto;
        width: auto;
        right: 0;
        padding-bottom: 2vh;
      }

      .myNameIs, .brianLam, .typed {
        padding-left: 0;
    }
    .myNameIs{
        font-size: 4vw;
    }
    .brianLam {
        font-size: 8vw;
    }

    .intro {
        align-items: center;
        height: auto;
    }

    .fa-bars {
        display: block;
        z-index: 2;
    }
}


@media (max-width: 500px) {
    .pfp{
        height: 80vw;
    }
    .welcome{
        font-size: 25vw;
    }
}
